<div class="row">
  <div class="col-6">
    <div class="card">
      <h2><%= @booking.summerhouse.title %></h2>
      <p><%= @booking.booking_start %> - <%= @booking.booking_end %></p>
      <%= link_to 'My bookings', root_path %>
    </div>
  </div>
</div>
