<div class="footer">
  <div class="footer-logo ml-5">
<!--     <img src="vector.png" alt="footer_logo" width="321" height="62"> -->
    <%= image_tag "https://res.cloudinary.com/dxiatpprs/image/upload/v1622036637/Vector_ipnzga.png" %>
  </div>
  <div class="footer-links mr-5">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
