.footer {
  background: #3C5757;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  height: 80px;
  //margin-top: 48px; dani
  //padding: 0px 50px;
  //position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
.footer-logo img {
  display: flex;
  width: 208px;
  align-items: center;
  // opacity: 0.15;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

// .footer-logo img:hover {
//     opacity: 1;
// }

footer {

}
